@font-face {
    font-family: "GLKTK";
    src: url("C:\Users\HP\Desktop\sebas\coderHouse\reactJS\proyecto\my-app\src\assets\LIQUIDISMPART2.TTF");
    
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;700;800&family=Libre+Franklin:wght@900&display=swap');
ul{
    width:35%;
}

li{
    /* border:groove */
    list-style: none;
    font-family: "Libre Franklin";
    font-size: 1.6rem;
}
h1{
       font-family: "GLKTK";
       font-size: 36px;        
    }